.container {
  margin: 50px auto;
  width: 500px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.input-group,
.output-group {
  margin-bottom: 30px;
}

#input {
  font-size: 24px;
  font-weight: bold;
}

#output {
  font-size: 24px;
  font-weight: bold;
}

label {
  display: inline-block;
  width: 60px;
  font-size: 15px;
}

.select-group {
  display: inline-block;
  margin-left: 10px;
}

input[type="text"] {
  font-size: 13px;
  padding: 5px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-left: 10px;
}

button {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent; /* 去掉背景色 */
  color: #000; /* 设置字体颜色 */
}

#copy-btn {
  margin-left: 10px;
}

#copy-btn:hover {
  background-color: #979797;
}

#copy-btn.copied {
  background-color: #8bc34a;
}

#switch-btn:hover {
  background-color: #979797;
}

/* 悬浮的返回按钮 */
.return-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #dcdcdc;
  color: #555;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

/* 添加媒体查询以适应小屏幕 */
@media (max-width: 600px) {
  .replaceRule {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.return-button:hover {
  background-color: #aeaeae;
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
