.container {
  margin: 50px auto;
  width: 500px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.input-group,
.output-group {
  margin-bottom: 30px;
}

#input {
  font-size: 24px;
  font-weight: bold;
}

#output {
  font-size: 24px;
  font-weight: bold;
}

label {
  display: inline-block;
  width: 60px;
  font-size: 15px;
}

.select-group {
  display: inline-block;
  margin-left: 10px;
}

input[type="text"] {
  font-size: 13px;
  padding: 5px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-left: 10px;
}

button {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent; /* 去掉背景色 */
  color: #000; /* 设置字体颜色 */
}

#copy-btn {
  margin-left: 10px;
}

#copy-btn:hover {
  background-color: #979797;
}

#copy-btn.copied {
  background-color: #8bc34a;
}

#switch-btn:hover {
  background-color: #979797;
}
